@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 25 38% 99%;
        --foreground: 25 51% 0%;
        --muted: 355 17% 91%;
        --muted-foreground: 355 7% 37%;
        --popover: 25 38% 99%;
        --popover-foreground: 25 51% 0%;
        --card: 25 38% 98%;
        --card-foreground: 0 0% 0%;
        --border: 25 9% 91%;
        --input: 25 9% 91%;
        --primary: 25 74% 30%;
        --primary-foreground: 0 0% 100%;
        --secondary: 355 74% 30%;
        --secondary-foreground: 355 74% 90%;
        --accent: 55 74% 30%;
        --accent-foreground: 0 0% 100%;
        --destructive: 11 81% 32%;
        --destructive-foreground: 11 81% 92%;
        --ring: 25 74% 30%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 25 57% 1%;
        --foreground: 25 18% 100%;
        --muted: 355 17% 9%;
        --muted-foreground: 355 7% 63%;
        --popover: 25 57% 1%;
        --popover-foreground: 25 18% 100%;
        --card: 25 57% 2%;
        --card-foreground: 0 0% 100%;
        --border: 25 9% 11%;
        --input: 25 9% 11%;
        --primary: 25 74% 30%;
        --primary-foreground: 0 0% 100%;
        --secondary: 355 74% 30%;
        --secondary-foreground: 355 74% 90%;
        --accent: 55 74% 30%;
        --accent-foreground: 0 0% 100%;
        --destructive: 11 81% 58%;
        --destructive-foreground: 0 0% 0%;
        --ring: 25 74% 30%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
