@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("/bg.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: contain;
    height: 100vh;
    width: 100vw;
}

@layer base {
    :root {
        --gradient: #251c0a;
        --background: 43 97.85% 98.18%;
        --foreground: 43 5.699999999999999% 0.36%;
        --muted: 43 5.699999999999999% 90.9%;
        --muted-foreground: 43 2.8499999999999996% 40.9%;
        --popover: 43 44.400000000000006% 90.9%;
        --popover-foreground: 43 5.699999999999999% 0.44999999999999996%;
        --card: 43 44.400000000000006% 90.9%;
        --card-foreground: 43 5.699999999999999% 0.44999999999999996%;
        --border: 43 10.7% 89.36%;
        --input: 43 10.7% 89.36%;
        --primary: 43 57% 9%;
        --primary-foreground: 43 1.14% 90.9%;
        --secondary: 43 2.8499999999999996% 95.45%;
        --secondary-foreground: 43 4.42% 10.9%;
        --accent: 43 2.8499999999999996% 95.45%;
        --accent-foreground: 43 4.42% 10.9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --ring: 43 57% 9%;
        --radius: 1.5rem;
    }

    .dark {
        --gradient: #eacda3;
        --background: 38 40.95% 6.24%;
        --foreground: 38 6.3% 98.9%;
        --muted: 38 31.5% 23.402%;
        --muted-foreground: 38 6.3% 57.8%;
        --popover: 38 52.4% 10.14%;
        --popover-foreground: 38 6.3% 98.9%;
        --card: 38 52.4% 10.14%;
        --card-foreground: 38 6.3% 98.9%;
        --border: 38 31.5% 23.402%;
        --input: 38 31.5% 23.402%;
        --primary: 38 63% 78%;
        --primary-foreground: 38 6.3% 7.800000000000001%;
        --secondary: 38 31.5% 23.402%;
        --secondary-foreground: 38 6.3% 98.9%;
        --accent: 38 31.5% 23.402%;
        --accent-foreground: 38 6.3% 98.9%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 38 6.3% 98.9%;
        --ring: 38 63% 78%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
